<a href="https://colab.research.google.com/github/celinecresswell/learning_ML_datasci/blob/main/Notebook_automateTheBoringStuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Excersises and learning points from reading "How to Automate the Boring Stuff by Albert Sweigart"**

# Chapter: Lists

A list is a value that contains multiple values.

LIST VALUE = the list itself

In [ ]:
#Create a list 
spam = ['cat','elephant', 'bat', 'rat']
#Index expressions
spam[0]
#spam[0] would evaluate to 'cat'

'cat'

Indexes cannot be floats, they must be integer values.

Lists can contain other list values.
These can be accessed like so...

In [ ]:
spam2 = [['cat','fatcat'],[1,2,3,]]
spam2[0][1]

'fatcat'

You can change values within a list using indexes

In [ ]:
spam2[0][0] = 'thefattestcat'
spam2

[['thefattestcat', 'fatcat'], [1, 2, 3]]

In [ ]:
# Small example excersise to demonstrate improved code using lists

catNames = []
while True:
  print('Enter the name of cat' + str(len(catNames)+1) +'(Or enter nothing to finish list):')
  name = input()
  if name == '':
    break
  catNames = catNames + [name]
print('The cat names are:')
for name in catNames:
  print(''+name)

Enter the name of cat1(Or enter nothing to finish list):
aurelius
Enter the name of cat2(Or enter nothing to finish list):
twinkle
Enter the name of cat3(Or enter nothing to finish list):
honey
Enter the name of cat4(Or enter nothing to finish list):

The cat names are:
aurelius
twinkle
honey

In [ ]:
catSizes = ['small','medium','big']
for i in range(len(catSizes)):
  print('Index ' + str(i) + (' in catSizes is:')+ catSizes[i])

Index 0 in catSizes is:small
Index 1 in catSizes is:medium
Index 2 in catSizes is:big

In and Not operators = Expressions used to connect two values
Purpose = to determine whether a value is or isn't within a list

In [ ]:
#Louis wants to pick the pet name, but Celine only lets him pick from a list 
#of preselected names.
nameOptions = ['Tibs','Auri','Auggy']
print('Please input pet name of choice:')
name = input()
if name not in nameOptions:
  print('That is not a preapproved name.')
  name = input()
else:
      print('Nice choice')

Please input pet name of choice:
louis
That is not a preapproved name.
Tibs

Methods "called on" a value

Methods belong to a single data type

Add values to list using, .append() and .list()
listname.append('thingtoappend')
listname.insert(2, 'thingToInsertIntoAparticularPosition')

End of Chapter Practice Excersise

Comma code
A function
Takes a list value as an argument
returns a string will all the items seperated by a comma and a spcae, with and inserted before the last item.

In [ ]:
def listToString(list):
  list.insert(-1, ', and')
  string = str(list)
  return print(string)

In [ ]:
google = ['apple','banana', 'carrot', 'kiwi']
listToString(google)

['apple', 'banana', 'carrot', ', and', 'kiwi']

In [ ]:
#Improved code using extra techniwues
def optimisedEx1(list):
    return ', '.join(map(str,list[:-1])) + ' and ' + str(list[-1])
spam = ['apples', 'bananas', 'tofu', 'cats']
print(optimisedEx1(spam))

apples, bananas, tofu and cats

The improved code above used .join() and map()
','.join(map(str,list[:-1]))

This joins all the list elements up until the last and converts them to a string.

str(list[-1])

This adds on the final index list value.

Character picture grid excercise

In [ ]:
grid = [['.', '.', '.', '.', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['.', 'O', 'O', 'O', 'O', 'O'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.']]

In [ ]:
for i in range(6):
    for a in range(9):
        if a < 8:
            print(grid[a][i], end="")
        else:
            print(grid[a][i])

..OO.OO..
.OOOOOOO.
.OOOOOOO.
..OOOOO..
...OOO...
....O....


# **Chapter: Dictionaries**

Dictionaries are a collection of many values

Dictionaries have "indexes like lists" called keys

A key and it's associated value is called a key-value pair

Dictionaries use braces{}

Dictionaries are unordered. This means: They cant be sliced like lists, if the keys are in different orders in two dictionaries then the two dictionaries can still be considered the same.

In [ ]:
birthdays = {'Louis':'23 Nov','Lu':'9 July','Molly':'26 May'}

while True:
  print('Enter a name or leave blank to quit')
  name = input()
  if name == '':
    break

  if name in birthdays:
    print(birthdays[name] + ' is the birthday of ' + name)
  else:
    print('I do not have the birthday of '+ name)
    print('What is their birthday?')
    birthdayInput = input()
    birthdays[name] = birthdayInput
    print('Database has been updated.')

Enter a name or leave blank to quit
Meg
I do not have the birthday of Meg
What is their birthday?
16 March
Database has been updated.
Enter a name or leave blank to quit
Meg
16 March is the birthday of Meg
Enter a name or leave blank to quit

3 dictionary methods: .keys(), values() and .items()

The returned values are not actually lists.

In [ ]:
dictEx = {'colour':'purple','size':'small'}
dictEx.keys()

dict_keys(['colour', 'size'])

In [ ]:
list(dictEx.keys())

['colour', 'size']

In [ ]:
for k,v in dictEx:
  print('Key: ' + k + ' Value: ' + v)

ValueError: ignored

In [ ]:
# don't forget .items()
for k,v in dictEx.items():
  print('Key: ' + k + ' Value: ' + v)

Key: colour Value: purple
Key: size Value: small

To check whether a key exists in a dictionary use the .get() method

The method takes two arguments:
1. the key of the value to retrieve
2. a fallback value to return if the key does not exist

In [ ]:
dictEx.get('colour','no colour')

'purple'

In [ ]:
import pprint
message = 'I miss Louis so much.'
count={}
for character in message:
  count.setdefault(character,0)
  count[character] = count[character] + 1

pprint.pprint(count)

{' ': 4,
 '.': 1,
 'I': 1,
 'L': 1,
 'c': 1,
 'h': 1,
 'i': 2,
 'm': 2,
 'o': 2,
 's': 4,
 'u': 2}

Tic Tac Toe board example

In [ ]:
theBoard = {'topL':'','topM':'','topR':'',
            'midL':'','MidM':'','MidR':'',
            'lowL':'','lowM':'','lowR':''}

# Practice Projects

Fantasy Game inventory

Dictionary is the inventory, saying how many item of that there is
item is the key
value is the number of that item in their inventory

In [ ]:
inventory = {'arrow':12,'gold coin':42,'rope':1,'torch':6,'dagger':1}
print('Inventory:')
total = 0
for k,v in inventory.items():
  print(str(v), k)
  total = total + v
print('Total number of items: '+ str(total))

Inventory:
12 arrow
42 gold coin
1 rope
6 torch
1 dagger
Total number of items: 62

List to Dictionary Function for Fantasy Game Inventory

In [ ]:
dragonLoot = ['gold coin','dagger','gold coin','ruby']

In [ ]:
def addtoinventory(inventory,lootlist):
    for i in range(len(lootlist)):
        if lootlist[i] in inventory:
            inventory[lootlist[i]] = inventory[lootlist[i]] + 1
        else:
            inventory.setdefault(lootlist[i],1)
    return inventory

inv = {'gold coin':42, 'rope':1}
addtoinventory(inventory,dragonLoot)

12arrow
54gold coin
1rope
6torch
7dagger
6ruby
Total number of items: 382

# **Chapter: Strings**

The escape character \ allows you to use characters that might not be possible to put inside of a string.

In [ ]:
print('Hi my name\'s Celine')
print("Hi my name\"s Celine")
print('Idk what tab is \t sheee')
print('I actually want to see the backslash \\')
print('This will span across n\ two lines')

Hi my name's Celine
Hi my name"s Celine
Idk what tab is 	 sheee
I actually want to see the backslash \
This will span across n\ two lines

Raw strings are useful for string values that contain many backslashes.

An alternate to the \n escape character is triple quotes. '''

Slicing a string does not modify the original string. You can capture a slice from one variable in a seperate variable.

in and not in can be used with strings, as done with list values.

is string methods:

1. .islower()
2. .isupper()
3. .isalpha()
4. .isdecimal()
5. .islanum() : Returns true if the string consists only of letters and numbers and is not blank
6. .isdecimal() : Returns True if the string only contains numeric characters and is not blank.
7. .isspace() : Returns true if it only contains spaces, tab, new-lines and is not blank.
8. .istitle() : Returns true if all the words in the string only start with upper case and then are followed by lowercase characters.

In [ ]:
# Excersise to demonstrate the is methods
while True:
  print('Enter your age')
  age = input()
  if age.isdecimal():
    break
  print('Please enter a number for your age')

while True:
  print('Please enter a password consisting only of numbers and letters')
  password = input()
  if password.isalnum():
    break
  print('Passwords can only have numbers and letters')

Enter your age
15
Please enter a password consisting only of numbers and letters
**
Passwords can only have numbers and letters
Please enter a password consisting only of numbers and letters
hello

.startswith()
.endswith()
These are useful strings if you need to check whether the first or last part of the string is equal to another string

.join()
.split()

.rjust()
.ljust()

taking these further 

.rjust(20) (shifts to the right by 20 spaces)
.rjust(20, '-') shifts to the right by 20 -

In [ ]:
def printPicnic(itemsDict, leftWidth, rightWidth):
  print('PICNIC ITEMS'.center(leftWidth+rightWidth, '-'))
  for k, v in itemsDict.items():
    print(k.ljust(leftWidth,'.')+str(v).rjust(rightWidth))

picnicItems = {'sandwiches':4,'apples':12,'cups':3,'cookies':3000}

printPicnic(picnicItems, 25,3)

--------PICNIC ITEMS--------
sandwiches...............  4
apples................... 12
cups.....................  3
cookies..................3000

## Table Print practice project

A function that takes a list of list of strings...
Organises it into a table
each column is right justified

Assume all the inner strings will contain the same number of strings

In [ ]:
tableData = [['apples','oranges','cherries','bananas'],['Alice','Bob','Carol','David'],['dpg','cat','goose','moose']]

def printTable(table):
# empty dictonary for sorting the data
  newTable = {0:[], 1:[], 2:[], 3:[]}

# iterate through each list in tableData, put the first of all the lists into 
#key 0 , the second of all the lists into key 1 etc
  for li in tableData:
      for i in range(len(li)):
          # put each item of tableData into newTable by index
          newTable[i].append(li[i])
  # determine the longest list by number of total characters
  # for instance ['apples', 'Alice', 'dogs'] would be 15 characters
  # we will start with longest being zero at the start
  longest = 0
  # iterate through newTable
  # for example the first key:value will be 0:['apples', 'Alice', 'dogs']
  # we only really care about the value (the list) in this case
  for key, value in newTable.items():
      # determine the total characters in each list
      # so effectively len('applesAlicedogs') for the first list
      length = len(''.join(value))
      # if the length is the longest length so far,
      # make that equal longest
      if length > longest:
          longest = length

  # we will loop through the newTable one last time
  # printing spaces infront of each list equal to the difference
  # between the length of the longest list and length of the current list
  # this way it's all nice and tidy to the right
  for key, value in newTable.items():
      print(' ' * (longest - len(''.join(value))) + ' '.join(value))



  return newTable

In [ ]:
printTable(tableData)

    apples Alice dpg
     oranges Bob cat
cherries Carol goose
 bananas David moose

{0: ['apples', 'Alice', 'dpg'],
 1: ['oranges', 'Bob', 'cat'],
 2: ['cherries', 'Carol', 'goose'],
 3: ['bananas', 'David', 'moose']}

# Chapter: Pattern Matching with regular expressions

Regular expressions = regexes

They are a description of a pattern of text.

\d = any single numerical from 0 to 9

For example: When detecting the american phone number format....
/d/d/d-/d/d/d-/d/d/d/d

this is the same as
/d{3}-/d{3}-/d{4}

Al regexe functions are in the re module

In [1]:
import re

In [2]:
# Use the re.compile() function
# Create a regex object
phoneNumRegex = re.compile(r'/d/d/d-/d/d/d-/d/d/d/d')

In [3]:
# The .search() method searches the string it was passed for 
# any matches to the regex
mo = phoneNumRegex.search('My number is 432-432-4321')
print('Phone number found: ' + str(mo))

Phone number found: None